<!DOCTYPE html>
<html lang="en">
<head>

   <!-- Required meta tags -->
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">

   <!-- Google api -->
   <!-- <meta name="google-signin-client_id" content="1083295050323-v3889fl24f7la7uinf0q91ag00puh0iq.apps.googleusercontent.com"> -->

<!--   <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800&amp;subset=latin-ext" rel="stylesheet">-->
<!--   <link href="https://fonts.googleapis.com/css?family=Barlow:100,200,300,400,500,600,700,800&amp;subset=latin-ext" rel="stylesheet">-->
<!--   <link href="https://fonts.googleapis.com/css?family=Roboto:400,600,700&amp;subset=latin-ext" rel="stylesheet">-->

<!--   <link rel="icon" type="image/png" href="https://aviee.io/static/favicon.png" />-->
   <link href="https://necolas.github.io/normalize.css/8.0.0/normalize.css" rel="stylesheet">

   <style>
      body {
         background-color: #fa745e;
         min-height: 100vh;
      }
   </style>
   <title>Yet Another Note App</title>
</head>

<body style="margin:0;">
   <div id="app"></div>
   <div id="dev-tool"></div>
</body>

</html>